---
import { getCollection } from "astro:content";
import Heading from "../../components/heading.astro";
import MainLayout from "../../layouts/MainLayout.astro";

const blogRusPosts = (await getCollection("blogRus")).sort(
  (a: any, b: any) =>
    b.data.publicationDate.valueOf() - a.data.publicationDate.valueOf(),
);
---

<MainLayout pageTitle="Блог - pakhrom's basement" pageLang="ru-RU">
  <Heading title="Блог" />

  <ol>
    {
      blogRusPosts.map((post: any) => (
        <li class="flex flex-col gap-y-1 lg:flex-row">
          <div>
            {post.data.publicationDate.toLocaleDateString("ru-RU", {
              timeZone: "Europe/Moscow",
            })}
          </div>
          <div class="border-l-4 border-blue-700 pl-2 lg:ml-2">
            <a href={"/blog/" + post.id} class="text-xl">
              {post.data.title}
            </a>
            <p class="mt-1 border-gray-500">
              {post.data.description && post.data.description}
            </p>
          </div>
        </li>
      ))
    }
  </ol>
</MainLayout>
