---
import { Image } from "astro:assets";
import Heading from "../components/Heading.astro";
import MainLayout from "../layouts/MainLayout.astro";
import mikuDanceGif from "../images/mikudance.gif";
---

<MainLayout pageTitle="Cool websites">
  <Heading
    title="Cool websites"
    subtitle="Websites that I find pretty cool :D"
  />

  <h2>
    Webrings
    <a
      href="https://brisray.com/web/webring-history.htm"
      class="font-[JetBrains_Mono] text-[1rem]"
    >
      (What are those?)
    </a>
  </h2>
  <div class="mb-4 flex flex-row">
    <!-- No AI Webring -->
    <div class="max-h-8 overflow-auto">
      <map name="noaimini14">
        <area
          href="https://baccyflap.com/noai"
          shape="rect"
          coords="21,0,47,30"
          target="_blank"
          alt="no ai webring"
          title="no ai webring"
        />
        <area
          href="https://baccyflap.com/noai/?prv&s=pkr"
          target="_top"
          shape="rect"
          coords="1,13,19,29"
          alt="previous"
          title="previous"
        />
        <area
          href="https://baccyflap.com/noai/?rnd"
          target="_top"
          shape="rect"
          coords="59,7,66,16"
          alt="random"
          title="random"
        />
        <area
          href="https://baccyflap.com/noai/?nxt&s=pkr"
          target="_top"
          shape="rect"
          coords="68,1,86,17"
          alt="next"
          title="next"
        />
      </map>
      <Image
        usemap="#noaimini14"
        src="https://baccyflap.com/noai/miniwidget14.gif"
        alt="a bluegreen rectangle showing the words the NO AI webring, with NO AI being written by a fountain pen, all in the style of 16 bit Windows 95 icons. to either side are two equally Windows-95-style cursors pointing left and right, softly bouncing up and down. in between it all is a small black question mark"
        width={88}
        height={31}
        priority
      />
    </div>
  </div>

  <h2>Buttons</h2>
  <ul class="mb-4 flex flex-row flex-wrap gap-1">
    <li>
      <a href="https://archlinux.org" target="_blank">
        <Image
          src="/images/arch-88x31.gif"
          alt="Arch Linux"
          title="A lightweight and flexible Linux® distribution that tries to Keep It Simple."
          width="88"
          height="31"
          priority
        />
      </a>
    </li>
    <li>
      <a href="https://mukkysworld.neocities.org/" target="_blank">
        <Image
          src="/images/mukkys-world-88x31.gif"
          alt="Mukky's World"
          width="88"
          height="31"
          priority
        />
      </a>
    </li>
    <li>
      <a href="https://thinliquid.dev" target="_blank">
        <Image
          src="/images/thnlqd-88x31.png"
          alt="thinliquid"
          width="88"
          height="31"
          priority
        />
      </a>
    </li>
    <li>
      <a href="https://bomberfish.ca" target="_blank">
        <Image
          src="/images/bomberfish-88x31.gif"
          alt="BomberFish"
          width="88"
          height="31"
          priority
        />
      </a>
    </li>
    <li>
      <a href="https://melankorin.net/" target="_blank">
        <Image
          src="/images/melankorin-88x31.gif"
          alt="melankorin.net"
          width="88"
          height="31"
          priority
        />
      </a>
    </li>
    <li>
      <a href="https://necoarc.dev/" target="_blank">
        <Image
          src="/images/necoarc-88x31.png"
          alt="i love neco arc"
          title="i love neco arc"
          width="88"
          height="31"
          priority
        />
      </a>
    </li>
  </ul>

  <h2>Links</h2>
  <ul class="mb-4 list-[square] pl-4">
    <li>
      <a href="https://www.igorski.nl/">igorski</a> - about creative use of technology,
      composition of music and development of software often related - but not restricted
      - to audio.
    </li>
  </ul>

  <Image
    src={mikuDanceGif}
    alt="Miku Dancing"
    class="absolute right-16 bottom-0"
    priority
  />
</MainLayout>
