---
import { Image } from "astro:assets";
import Heading from "../components/Heading.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout pageTitle="Credits">
  <Heading
    title="Credits"
    subtitle="People that have  contributed to the development of this website"
  />
  <ul>
    <li>
      - <a href="https://ribo.zone">RIBOSE</a> for website design inspiration
    </li>
    <li>
      - <a href="https://int10h.org/">INT10h</a> for the awesome <a
        href="https://int10h.org/oldschool-pc-fonts/fontlist/?1#subs-ibm-g2-vga"
        >IBM VGA</a
      > font
    </li>
    <li>
      - JetBrains for
      <a href="https://www.jetbrains.com/lp/mono/">JetBrains Mono</a> font
    </li>
    <li>
      - Google for
      <a href="https://fonts.google.com/icons/">Material Symbols</a>
    </li>
    <li class="mt-2">
      * And of course, <a href="https://nekoweb.org">nekoweb.org</a> for hosting
      this website. <br />
    </li>
  </ul>

  <div class="mt-4"></div>
</MainLayout>
