---
import Heading from "../components/heading.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout pageTitle="Credits">
  <Heading
    title="Credits"
    subtitle="People that have  contributed to the development of this website"
  />
  <ul>
    <li>
      - <a href="https://ribo.zone" target="_blank">RIBOSE</a> for website design
      inspiration
    </li>
    <li>
      - <a href="https://int10h.org/" target="_blank">INT10h</a> for the awesome
      <a
        href="https://int10h.org/oldschool-pc-fonts/fontlist/?1#subs-ibm-g2-vga"
        target="_blank">IBM VGA</a
      > font
    </li>
    <li>
      - JetBrains for the
      <a href="https://www.jetbrains.com/lp/mono/" target="_blank"
        >JetBrains Mono</a
      > font
    </li>
    <li>
      - Google for
      <a href="https://fonts.google.com/icons/" target="_blank"
        >Material Symbols</a
      >
    </li>
  </ul>
</MainLayout>
