---
import MainLayout from "../layouts/MainLayout.astro";
import Heading from "../components/Heading.astro";
---

<MainLayout pageTitle="pakhrom's basement">
  <Heading title="pakhrom's personal website" isBanner />

  <details class="mb-4 border-2 border-amber-400 bg-amber-50 p-2">
    <summary
      class="cursor-pointer list-none pl-2 [&::-webkit-details-marker]:hidden"
    >
      <span class="font-sans">⚠</span>
      <b class="underline decoration-dotted">
        This website is in it's earliest development stage!
      </b>
    </summary>
    <div class="mt-2 block border-2 border-amber-300 p-1">
      <p>
        The whole website is currently being rewritten from scratch using the
        Astro framework. There <strong>will be</strong> some broken/undocumented
        things for the time being. More information will be added later. Stay tuned
        for more updates!
      </p>
    </div>
  </details>

  <h2>About me</h2>
  <p>
    Hi! I'm <b>Pakh</b>omov <b>Rom</b>an, a.k.a. <strong>pakhrom</strong>, – a
    Russian student, passionate about programming, game development and music.
  </p>

  <h3>
    Webrings
    <a href="https://brisray.com/web/webring-history.htm" class="text-[1rem]">
      (What are those?)
    </a>
  </h3>
  <div class="flex flex-row">
    <div style="width:110px">
      <!-- Music Webring -->
      <a href="//mr.jhorn.net/index.php">
        <img src="//mr.jhorn.net/assets/button.gif" />
      </a>
      <a href="//mr.jhorn.net/prev.php?slug=pakhrom">prev</a>
      <a href="//mr.jhorn.net/rand.php">?</a>
      <a href="//mr.jhorn.net/next.php?slug=pakhrom">next</a>
    </div>

    <!-- No AI Webring -->
    <map name="noaimini2b">
      <area
        href="https://baccyflap.com/noai"
        target="_blank"
        shape="rect"
        coords="10,6,166,28"
        alt="no ai webring"
        title="no ai webring"
      />
      <area
        href="https://baccyflap.com/noai/?prv&s=pkr"
        target="_top"
        shape="rect"
        coords="10,32,32,52"
        alt="previous"
        title="previous"
      />
      <area
        href="https://baccyflap.com/noai/?rnd"
        target="_top"
        shape="rect"
        coords="76,32,102,54"
        alt="random"
        title="random"
      />
      <area
        href="https://baccyflap.com/noai/?nxt&s=pkr"
        target="_top"
        shape="rect"
        coords="144,32,166,52"
        alt="next"
        title="next"
      />
    </map>
    <img
      style="width:176px;image-rendering:pixelated"
      usemap="#noaimini2b"
      src="https://baccyflap.com/noai/miniwidget2.gif"
      alt="a white rounded rectangle in red outline, with the words 'no ai webring'. there's a no access emoji, a little robot emoji, two arrows pointing left and right, and two crossed arrows"
    />
    <div></div>
  </div>
</MainLayout>
