---
import MainLayout from "../layouts/MainLayout.astro";
import Heading from "../components/Heading.astro";
---

<MainLayout pageTitle="pakhrom's basement">
  <Heading title="Welcome to pakhrom's personal website!" isBanner />

  <h2>About me</h2>
  <p>
    Hi! I'm <b>Pakh</b>omov <b>Rom</b>an, a.k.a. <strong>pakhrom</strong>, – a
    Russian student, passionate about programming, game development and music.
  </p>
</MainLayout>
