---
import MainLayout from "../layouts/MainLayout.astro";
import Heading from "../components/heading.astro";
---

<MainLayout pageTitle="pakhrom's basement">
  <Heading title="pakhrom's personal website" isBanner />

  <details class="mb-4 border-2 border-amber-400 bg-amber-50 p-2">
    <summary class="![&::-webkit-details-marker]:hidden !list-none pl-1">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        height="20px"
        viewBox="0 -960 960 960"
        width="20px"
        fill="#1f1f1f"
        ><path
          d="m48-144 432-720 432 720H48Zm127-72h610L480-724 175-216Zm304.79-48q15.21 0 25.71-10.29t10.5-25.5q0-15.21-10.29-25.71t-25.5-10.5q-15.21 0-25.71 10.29t-10.5 25.5q0 15.21 10.29 25.71t25.5 10.5ZM444-384h72v-192h-72v192Zm36-86Z"
        ></path></svg
      >
      <b class="underline">
        This website is in it's earliest development stage!
      </b>
    </summary>
    <div class="mt-2 block border-2 border-amber-300 p-1">
      <p>
        The whole website is currently being rewritten from scratch using the
        Astro framework. There <strong>will be</strong> some broken/undocumented things
        for the time being. More information will be added later. Stay tuned for more
        updates!
      </p>
      <p>
        You can view the source code in
        <a
          href="https://github.com/pakhrom/pakhrom.neocities.org"
          target="_blank"
          aria-label="Website's source code"
        >
          my GitHub repository</a
        >.
      </p>
    </div>
  </details>

  <h2>Hi, welcome!</h2>
  <p>
    I'm <b>Pakh</b>omov <b>Rom</b>an, a.k.a. <strong>pakhrom</strong>, – a
    Russian student, passionate about programming, game development and music.
  </p>
</MainLayout>
