---
import MainLayout from "../layouts/MainLayout.astro";
import Heading from "../components/Heading.astro";
---

<MainLayout pageTitle="Development Roadmap">
  <Heading title="Roadmap" subtitle="Things I might add to this website" />

  <h2>Collections</h2>
  <ul>
    <li>- <b>Blog</b> - useful or educational posts</li>
    <li>
      - <b>Microblog/Journal</b> - my life updates, rants and other nonsense for
      the interested ones
    </li>
    <li>- <b>Hall of Fame</b> - people I admire and why</li>
    <li>- <b>Quote Bank</b></li>
    <li>- <b>Projects List</b></li>
  </ul>

  <h2>Done</h2>
  <p>Currently nothing as I've just created this page.</p>
</MainLayout>
