---
import MainLayout from "../layouts/MainLayout.astro";
import Heading from "../components/Heading.astro";
---

<MainLayout pageTitle="Development roadmap">
  <Heading title="Roadmap" subtitle="Things I might add to this website" />

  <h2>Pages</h2>
  <ul>
    <li>- <b>About Me</b></li>
    <li>- <b>Portfolio</b> with a projects list</li>
  </ul>

  <h2>Features</h2>
  <ul>
    <li>
      - <b>RSS feeds</b> for some collections
    </li>
    <li>
      - <b>Internationalization (i18n)</b>: provide pages both in English and in
      Russian
    </li>
  </ul>

  <h2 id="collections">Collections</h2>
  <ul>
    <li>
      - <b>Website Updates</b>
    </li>
    <li>
      - <b>Microblog/Journal</b> - my life updates, rants and other nonsense for
      the interested ones
    </li>
    <li>- <b>Hall of Fame</b> - people I admire and why</li>
    <li>- <b>Quote Bank</b></li>
    <li>- <b>Projects List</b></li>
  </ul>

  <h2 class="mt-12">Done</h2>
  <ul>
    <li>
      - <b>Blog</b> (Collection): added {
        new Date("2025-07-31").toLocaleDateString()
      }
    </li>
  </ul>
</MainLayout>
