---
import Heading from "../../components/Heading.astro";
import MainLayout from "../../layouts/MainLayout.astro";
---

<MainLayout pageTitle="Информационная безопасность" pageLang="ru-RU">
  <Heading
    title="Ресурсы по информациооной безопасности"
    subtitle="Для самостоятельного изучения данной области"
  />

  <p class="mb-4 border-2 border-amber-400 bg-amber-50 p-2">
    <span class="font-sans">⚠</span>
    Большинство ресурсов и источников в данном списке на русском языке, но есть ещё
    и некоторые на иностранном.
  </p>

  <h2>Курсы</h2>
  <ul>
    <li>
      - <a href="https://course.ugractf.ru/">Для новичков - UgraCTF</a>
    </li>
    <li>
      - <a href="https://stepik.org/course/169003/">Jeopardy CTFs</a>
    </li>
    <li>
      - <a href="https://stepik.org/course/203660/">Attack-Defense CTFs</a>
    </li>
    <li>
      - <a href="https://stepik.org/course/73/">Linux</a>
    </li>
  </ul>

  <h2>Теория</h2>
  <ul>
    <li>
      - <a href="https://kmb.cybber.ru/about.html">Общая ИБ</a>
    </li>
    <li>
      - <a href="https://ulearn.me/course/hackerdom"
        >Основы компьютерной безопасности</a
      >
    </li>
    <li>
      - <a
        href="https://www.youtube.com/playlist?list=PLtPJ9lKvJ4ojPWFLuUz6g8c73Ta45bUN8"
      >
        База о компьютерных сетях
      </a>
    </li>
    <li>
      - <a href="https://linkmeup.gitbook.io/sdsm/0.-planirovanie">
        Онлайн-книжка про сети
      </a>
    </li>
    <li>
      - <a href="https://vk.com/@spbctf-ctf-for-beginners">
        Подборка ресурсов для начинающих от SPbCTF
      </a>
    </li>
    <li>
      - <a href="https://spbctf.ru/">Разные темы от SPbCTF</a>
    </li>
    <li>
      - <a href="https://www.youtube.com/@SPbCTF">Канал с лекциями SPbCTF</a>
    </li>
    <li>
      - <a
        href="https://www.youtube.com/playlist?list=PL50DqyBBM0b6i7ruedSLmhtxjmpqk2BfA"
      >
        Плейлист лекций МИФИ&BI.ZONE
      </a>
    </li>
    <li>
      - <a
        href="https://youtube.com/playlist?list=PLBEaLodiQrUZH1AnN2RBqS789cpUlSu4f&si=j4_YGRoxojeRIvEq"
      >
        Плейлист лекций Bulba Hackers
      </a>
    </li>
    <li>
      - <a href="https://youtu.be/AGj1AfyoizY?si=54-u7LIikPTyPnaC">
        CTF-воркшоп Attack-Defence для начинающих
      </a>
    </li>
    <li>
      - <a href="https://cbsctf.ru/ad">Об Attack-Defense от C4T BuT S4D</a>
    </li>
    <li>
      - <a href="https://ico2025.sg/training-materials/">
        Теория от организаторов ICO 2025
      </a>
    </li>
    <li>
      - <a href="https://2025.ugractf.ru/ru/ctf">
        Ссылки на разные источники по разным темам от UgraCTF
      </a>
    </li>
    <li>
      - <a href="https://book.hacktricks.wiki/en/index.html">
        Шпаргалки по разным темам
      </a>
    </li>
    <li>
      - <a href="https://portswigger.net/web-security/all-topics">
        Ресурсы по сетевым уязвимостям от PortSwigger на английском
      </a>
    </li>
  </ul>

  <h2>Практика</h2>
  <ul>
    <li>
      - <a href="https://hackerlab.pro/guest">Сборник тасков с HackerLab</a>
    </li>
    <li>
      - <a href="https://freehackquest.com/en">Сборник тасков FreeHackQuest</a>
    </li>
    <li>
      - <a href="https://2019.hackerdom.ru/board/">Сборник тасков Hackerdom</a>
    </li>
    <li>
      - <a href="https://www.vulnhub.com/">Сборник тасков от различных людей</a>
    </li>
    <li>
      - <a href="https://www.root-me.org/?lang=en">Сборник сложных тасков</a>
    </li>
    <li>
      - <a href="https://picoctf.org/">Иностранный сборник теории и тасков</a>
    </li>
    <li>
      - <a href="https://cryptohack.org/">
        Большой сборник тасков по криптографии
      </a>
    </li>
    <li>
      - <a href="https://overthewire.org/wargames/krypton/">
        7 тасков по крипте
      </a>
    </li>
    <li>
      - <a href="https://www.alexbers.com/sql/">10 тасков по SQL-инъекции</a>
    </li>
    <li>
      - <a href="https://xss-game.appspot.com/">
        Игра от Google про XSS-уязвимости
      </a>
    </li>
  </ul>

  <h2>Инструменты</h2>
  <ul>
    <li>
      - <a href="https://github.com/zardus/ctf-tools">
        Список популярных тулзов
      </a>
    </li>
    <li>
      - <a href="https://github.com/danielmiessler/SecLists">
        Список списков паролей и другой всякой всячины
      </a>
    </li>
  </ul>

  <h2>Статьи</h2>
  <ul>
    <li>
      - <a href="https://habr.com/ru/companies/yandex/articles/324866/">
        Яндекс: Введение в криптографию и шифрование, часть первая
      </a>
    </li>
    <li>
      - <a href="https://habr.com/ru/companies/yandex/articles/327636/">
        Яндекс: Введение в криптографию и шифрование, часть вторая
      </a>
    </li>
    <li>
      - <a href="https://habr.com/ru/companies/pentestit/articles/555590/">
        Reverse engineering: обратная разработка приложений для самых маленьких
      </a>
    </li>
  </ul>

  <h2>Новостные источники</h2>
  <ul>
    <li>
      - <a href="https://www.securitylab.ru/">SecurityLab.ru</a>
    </li>
    <li>
      - <a href="https://hackware.ru/">HackWare.ru</a>
    </li>
    <li>
      - <a href="https://exploit.in/">Exploit.IN</a>
    </li>
  </ul>

  <p class="mt-8 border-2 border-blue-700 bg-blue-100 p-2">
    <span class="font-sans">🛈</span>
    Если желаете дополнить один из данных списков, то смело
    <a
      href="https://github.com/pakhrom/pakhrom.neocities.org/discussions/new?category=ideas"
    >
      создавайте обсуждение на GitHub</a
    >.
  </p>
</MainLayout>
