---
interface Props {
  class?: string;
}
const { class: className } = Astro.props;
---

<div
  class:list={[
    "my-4 block bg-blue-700 py-2 text-center font-[IBM-VGA] text-2xl text-white",
    className,
  ]}
>
  <slot />
</div>
