---
interface Props {
  class?: string;
}
const { class: className } = Astro.props;
---

<div
  class={`block bg-blue-700 py-2 text-center font-[IBM-VGA] text-white text-2xl my-4 ${className}`}
>
  <slot />
</div>
