---
import Banner from "./banner.astro";

interface Props {
  title: string;
  subtitle?: string;
  subtitlePosition?: "left" | "center" | "right";
  isBanner?: boolean;
}
const {
  title,
  subtitle,
  subtitlePosition = "right",
  isBanner = false,
} = Astro.props;
---

<hgroup class="mb-4">
  {
    () => {
      if (isBanner) {
        return (
          <Banner class="px-4">
            <h1>{title}</h1>
          </Banner>
        );
      } else {
        return (
          <h1 class="text-shadow-[3px_3px_lavender] text-shadow-violet-200">
            {title}
          </h1>
        );
      }
    }
  }
  {
    subtitle && (
      <p
        class:list={[
          "mt-2 font-[IBM-VGA] text-2xl leading-[1]",
          subtitlePosition === "right"
            ? "text-right"
            : subtitlePosition === "center"
              ? "text-center"
              : null,
        ]}
      >
        {subtitle}
      </p>
    )
  }
</hgroup>
