---
import Banner from "../components/Banner.astro";

const links: string[][] = [
  ["Home", "/"],
  ["Cool sites", "/cool-sites/"],
  ["Roadmap", "/roadmap/"],
  ["Credits", "/credits/"],
  ["Инфобез", "/resources/cybersec/"],
  ["Блокировка интернета (WIP)", "/internet-blackout-rus/"],
];
---

<nav class="top-0 mb-8 h-fit lg:sticky lg:max-w-54">
  <Banner class="mb-1">Navigation</Banner>
  <ul class="flex flex-row flex-wrap gap-x-2 gap-y-1 lg:flex-col">
    {
      links.map((link: string[]) => {
        if (Astro.url.pathname === link[1]) {
          return (
            <li>
              <span class="hidden lg:inline">-&gt;</span>
              {link[0]}{" "}
            </li>
          );
        } else {
          return (
            <li>
              <a href={link[1]}>{link[0]}</a>
            </li>
          );
        }
      })
    }
  </ul>
</nav>
