---
import Banner from "../components/Banner.astro";
import "../styles/global.css";

interface Props {
  pageTitle: string;
}
const { pageTitle } = Astro.props;
---

<!doctype html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <title>{pageTitle}</title>
  </head>
  <body class="mx-auto max-w-[80ch] bg-[#f3f3fd] font-[JetBrains_Mono]">
    <div class="m-4">
      <main>
        <slot />
      </main>

      <Banner class="mt-8 mb-1">Navigation</Banner>
      <footer>
        {Astro.url.pathname !== "/" && <a href="/">Home</a>}
        {Astro.url.pathname !== "/credits/" && <a href="/credits/">Credits</a>}
      </footer>
    </div>
  </body>
</html>
