---
import "../styles/global.css";
import Navigation from "../components/navigation.astro";

interface Props {
  pageTitle: string;
  pageLang?: string;
}
const { pageTitle, pageLang = "en-US" } = Astro.props;
---

<!doctype html>
<html lang={pageLang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <meta name="robots" content="noarchive" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <title>{pageTitle}</title>
  </head>
  <!--
    I hate responsive width. This is a mess.
    If there's a better way of achieving the same, please open a discussion.
    I really want to know...
   -->
  <body
    class="m-0 w-full bg-[#f3f3fd] font-[JetBrains_Mono] md:mx-auto md:w-fit"
  >
    <div
      class="mx-4 flex-col gap-x-8 md:w-[76ch] lg:flex lg:w-fit lg:flex-row-reverse"
    >
      <main class="mb-8 w-full lg:w-[80ch]">
        <slot />
      </main>

      <Navigation />
    </div>
  </body>
</html>
